* {
    box-sizing: border-box;
    font-family: cursive;
}
span, a, label {
    display: inline-block;
}
body {
background: linear-gradient(90deg,red,rgba(0, 0, 255, 0.729));
min-height: 100dvh;
background-repeat: no-repeat;
    overflow: hidden;
    margin: 0;
}
.h1 {
    margin: 0;
    text-align: center;
    color: white;
}
button {
    width: 23%;
    height: 80px;
    font-size: 20px;
    border: none;
    background:linear-gradient(90deg,red,rgba(0, 0, 255, 0.729));
    border-radius: 10px;
    color: white;
}
.calculator {
    width: 400px;
    margin:20px auto;
    text-align: center;
    border:5px solid red;
    padding: 10px;
}
.btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
}
#javob {
    width: 100%;
    padding: 5px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    font-size: 30px;
}
.btn {
    font-size: 30px;
}
@media(max-width:410px){
    .calculator {
    width: 350px;
    }
    button {
        width: 21%;
        height: 70px;
    }
}
@media(max-width:350px){
    .calculator {
    width: 280px;
    }
    button {
        width: 21%;
        height: 50px;
    }
}